#frame{
    position: relative;
width: 452px;
height: 728px;
text-align: center;

background: #EDEDED;
}
#banner{
    margin-top: 32px;
    width: 452px;
	height: 199px;
}
#button{
    width: 244px;
	height: 39px;
	border-radius: 10px;
	background-color: #fda237;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}
#btn_text{
    width: 110px;
	height: 39px;
	font-family: TitilliumWeb;
	font-size: 25px;
	font-weight: 600;
	color: #ededed;
	text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}